<!-- NAVIGATION -->

<nav class="navbar navbar-default navbar-static-top">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!--
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
-->
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="documentation">Documentation</a></li>
            <li ui-sref-active="active"><a ui-sref="training">training</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="register">Register</a></li>
                <li ui-sref-active="active"><a ui-sref="login">Login</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
        </ul>
    </div>
</nav>

<!--
<nav class="navbar navbar-collapse" role="navigation">
    
</nav>
-->