<div ui-view="main-navbar"></div>
<div>
    <form class="form-register">
        <h2 class="form-signin-heading">Please register</h2>

        <div class="form-group row">
            <label for="inputRegisterFirstName" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputRegisterFirtName" plaProductsholder="First name" ng-model="firstname" required
                    autofocus>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRegisterLastName" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputRegisterLastName" plaProductsholder="Last Name" ng-model="lastname" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRegisterEmail" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputRegisterEmail" plaProductsholder="Email" ng-model="email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRegisterPassword" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputRegisterPassword" plaProductsholder="Password" ng-model="password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRegisterConfPassword" class="col-sm-4 col-form-label">Confirm Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputRegisterConfPassword" plaProductsholder="Confirm Password" ng-model="confpassword"
                    required>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="SendRegisterRequest()">Register</button>
        <p> message : {{message}}</p>
    </form>
</div>